%div{:class => "content"}
  %div{:class => "header"}
    = partial('partials/header_partial')
  %div{:class => "pure-g-r" , :id => "main-body"}
    %div{:class => "pure-u-1-12", :id => "left-margin"}
    %div{:class => "pure-u-11-24", :id => "mutable-content-area"}
      = partial('partials/posts/test_post')
      = partial('partials/posts/test_post')
      = partial('partials/posts/test_post')
    %div{:class => "pure-u-1-24"}
    %div{:class => "pure-u-1-4",  :id => "social-media-block"}
      = partial('partials/social_partial')
    %div{:class => "pure-u-1-8"}
